In [1]:
from sklearn import datasets

digits = datasets.load_digits()

features = digits.data

target = digits.target

features[0]

array([ 0.,  0.,  5., 13.,  9.,  1.,  0.,  0.,  0.,  0., 13., 15., 10.,
       15.,  5.,  0.,  0.,  3., 15.,  2.,  0., 11.,  8.,  0.,  0.,  4.,
       12.,  0.,  0.,  8.,  8.,  0.,  0.,  5.,  8.,  0.,  0.,  9.,  8.,
        0.,  0.,  4., 11.,  0.,  1., 12.,  7.,  0.,  0.,  2., 14.,  5.,
       10., 12.,  0.,  0.,  0.,  0.,  6., 13., 10.,  0.,  0.,  0.])

In [12]:
import pandas as pd

url='https://bit.ly/47Hl2t5'

dataframe = pd.read_csv(url)

dataframe.head(2)

# dataframe = pd.read_csv(url,skiprows=range(1,11),nrows=1)

# print(dataframe)

   integer             datetime  category
0        5  2015-01-01 00:00:10         0

엑셀 파일 적재하기

In [14]:
import pandas as pd

url = 'http://bit.ly/3V07wOm'

datagframe = pd.read_excel(url,sheet_name=0,header=0)

dataframe.head(2)

   integer             datetime  category
0        5  2015-01-01 00:00:10         0

json 적재

In [15]:
import pandas as pd

url = 'http://bit.ly/3IaJXer'

datagframe = pd.read_json(url,orient='columns')

dataframe.head(2)

   integer             datetime  category
0        5  2015-01-01 00:00:10         0

In [18]:
import pandas as pd
from sqlalchemy import create_engine

# 데이터베이스에 연결합니다
database_connection = create_engine('sqlite:///sample.db')

# 데이터를 적재합니다.
dataframe = pd.read_sql_query('SELECT * FROM data', database_connection)

# 처음 두행을 확인합니다.
dataframe.head(2)

  first_name last_name  age  preTestScore  postTestScore
0      Jason    Miller   42             4             25
1      Molly  Jacobson   52            24             94

In [22]:
import pymysql
import pandas as pd

# 데이터베이스를 연결합니다.
# 예를 위해 다음 주소의 데이터베이스를 사용합니다.
# https://github.com/kylegallatin/mysql-db-example
conn = pymysql.connect(
host = 'localhost',
port=3306,
user = 'root',
password = "1234",
db = 'univ',
)

# 데이터프레임으로 데이터를 읽습니다.
dataframe = pd.read_sql("select * from student", conn)

# 처음 두 개의 행을 출력합니다.
dataframe.head(10)

C:\Users\HKIT\AppData\Local\Temp\ipykernel_11248\2374321809.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql("select * from student", conn)

    hakbun name  year dept    addr
0      111  김자바     1    김      자바
1      222  이자바     2   학과      주소
2      333  삼자바     3  삼학과     삼주소
3      444  사자바     4  사학과     사주소
4      777  이효쥰     4  마스터  그랜드마스터
5    55555  김한철     1   학과      주소
6   195712  조아라     1  밀머리      부산
7  5555511  김한철     1   학과      주소

In [25]:
import requests

#텍스트 파일을 다운로드 할 URL
text_url = "https://bit.ly/3SVj6YI"

# 텍스트 파일을 다운로드 합니다.
r = requests.get(text_url)

# 로컬 text.txt 파일에 씁니다.
with open('text.txt','wb') as f:
	f.write(r.content)
	
# 파일을 읽습니다.
with open('text.txt','r') as f:
	text = f.read()
	
# 내용을 출력합니다.
print(text)

Hello there!